body {
  background-color: grey;
  color: white;
}

.main {
  height: 100vh;
  width: 100vw;
}

.button {
  color: white;
  padding: 6px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
}

.add-todo-buton {
  background-color: rgb(0, 119, 255);
}

.edit-button {
  background-color: green;
}

.delete-button {
  background-color: red;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 12px;
}

.main-objective {
  color: greenyellow;
  direction: rtl;
  letter-spacing: 1.5px;
  word-spacing: 10px;
  text-indent: 1cm;
  text-align: center;
}
